:host /deep/ ng2-smart-table {
  table {
    border-collapse: separate;
    thead {
      & > tr {
        & > th {
          &:first-of-type {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }
          &:last-of-type {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
          }
          a,
          div {
            font-size: 14px;
            color: #ffffff;
          }
          border: none;
          background: #363636;
        }
      }
    }
    tbody {
      & > tr {
        &:hover {
          border-radius: 10px;
        }
        &:nth-child(2n) {
          background: none;
        }
        border: 2px solid blue;
        border-radius: 10px;
        & > td {
          :not(i) {
            font-size: 14px;
          }
          &:first-of-type {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border-left: 2px solid #f5f7fa;
          }
          &:last-of-type {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-right: 2px solid #f5f7fa;
          }

          a,
          div {
            font-size: 14px;
          }
          input {
            width: 30%;
            display: block;
            margin: auto;
            border-radius: 50%;
            border: 1px solid #ddd;
          }
          border: none;
          border-top: 2px solid #f5f7fa;
          border-bottom: 2px solid #f5f7fa;
        }
      }
    }
  }
}
